html {
  font-size: 5em;
}
body {
  font-size: .25em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  border: 1px solid gray;
  background-color: gray;
}

li {
  display: inline;
  padding-left: 100px;
}


h1 {
  text-align: center;
  padding: 20px;
  padding-bottom: 100px;
}

h4 {
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: lightblue;
}
